<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cashier.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>CashierApp</name>
    <description>灏忓崠閮ㄦ敹閾剁郴缁?Android APK 灏佽</description>
    <author email="local@example.com" href="https://localhost">
        Local Build
    </author>
    <content src="index.html" />
    <icon src="pic.png" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <config-file parent="/*" target="AndroidManifest.xml">
        <uses-permission android:name="android.permission.CAMERA" />
        <uses-permission android:name="android.permission.INTERNET" />
    </config-file>
    <preference name="android-minSdkVersion" value="24" />
    <preference name="android-targetSdkVersion" value="34" />
    <preference name="AndroidInsecureFileModeEnabled" value="true" />
    <preference name="AndroidXEnabled" value="true" />
</widget>
